:root{
    --background-padrao: #D9D9D9;
    --cor-primaria: #093F59;
    --cor-secundaria: #8582A9;
    --white: #FFFFFF;
    --transition: all 0.3s ease;
    --cor-titulos: #093F59;
    --cor-subtitulos: #bababa;
    --fonte-padrao: 'Roboto', sans-serif;
}